// RWD
@mixin pad {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin fakeDot {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: $c_sub;
  border-radius: 50%;
  position: absolute;
  @content;
}

html,
body {
  font-family: $f_tw;
  font-size: 24px;
  line-height: 36px;
}
.container {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
}
.title {
  font-size: 1.33rem;
  line-height: 1.25rem;
  padding: 0.33rem 0;

  &_light {
    color: $c_light;
    border-bottom: 1px solid $c_light;
    text-align: center;
    &_en {
      color: $c_light;
      font-size: 1rem;
      padding: 0 0.66rem;
    }
  }
  &_dark {
    color: $c_dark;
    border-bottom: 1px solid $c_dark;
    &_en {
      color: $c_stress;
      font-size: 1rem;
      padding: 0 0.66rem;
    }
  }
}

.name {
  font-size: 3.5rem;
  line-height: 2.5rem;
  padding: 1rem 0;
  border-bottom: 2px solid $c_dark;
}
.portrait {
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
  margin-top: 2rem;

  @include mobile {
    display: block;
    margin: 2rem auto 0;
  }
}

.profile {
  margin-left: 2rem;
  padding: 0.66rem 0;
  position: relative;

  &_content {
    margin-bottom: 1rem;
  }
  &::before {
    @include fakeDot {
      top: 25px;
      left: -32px;
    }
  }
}

.portfolio {
  background-color: $c_sub;
  margin: 3rem 0;
  padding: 1.5rem 1rem;

  .title {
    max-width: 1200px;
    margin: 0 auto;
  }
}
